.form-input-label {
    color: #fff;
    /* font-size: 16px; */
    font-weight: normal;
    position: relative;
    /* pointer-events: none; */
    background: none;
    outline: none;
    border: none;
    background: none;
    outline: none;
    left: 0px;
    top: 0px;
    transition: 300ms ease all;
}

/* input:-internal-autofill-selected {
    background-color: none!important;
} */

input#loginemail {
    background: none!important;
}

.shrink {
    top: -20px;
    font-size: 12px;
    color: wheat;
  }